<div class="list-group">
    <a href="{% url 'trainerdash' %}" class="list-group-item {% if request.path == '/trainerdash' %} active {% endif %}">Dashboard</a>
    <a href="#" class="list-group-item">Profile</a>
    <a href="#" class="list-group-item">Assigned Trainees</a>
    <a href="#" class="list-group-item">Payments</a>
    <a href="#" class="list-group-item">Notifications <span class="badge bg-danger rounded-pill">2</span> </a>
    <a href="#" class="list-group-item">Account settings</a>
	</div>